protocol: Hotstuff
phases:
  Request:
    quorum: 1
    next_state: Prepare
    actions:
      - verifySignature:
          public_key: "../keys/${client_id}_public.pem"
      - "handleClientRequestAsLeader"
  Prepare:
    quorum: 1
    next_state: PreCommit
    actions:
      - "checkQC"
      - "startTimer"
      - "storeMessage"
      - "unicastifParticipant"
  PreCommit:
    quorum: 2f
    next_state: Commit
    actions:
      - "checkQC"
      - "resetTimer"
      - "storeMessage"
      - "checkQuorum"
      - "broadcastifLeader"
      - "unicastifParticipant"
  Commit:
    quorum: 2f
    next_state: Decide
    actions:
      - "checkQC"
      - "resetTimer"
      - "storeMessage"
      - "checkQuorum"
      - "UpdateLockedQC"
      - "broadcastifLeader"
      - "unicastifParticipant"
  Decide:
    quorum: 2f
    next_state: Request
    actions:
      - "checkQC"
      - "stopTimer"
      - "storeMessage"
      - "checkQuorum"
      - "broadcastifLeader"
      - "complete"
  ViewChange:
    quorum: 2f+1
    next_state: Request
    actions:
      - "handleViewChangeHotstuff"
  NewView:
    quorum: 1
    next_state: Request
    actions:
      - "handleNewView"

  QueryBalances:
    quorum: 1
    next_state: Request
    actions:
      - "queryBalances"