protocol: PBFT
phases:
  PBFTRequest:
    quorum: 1
    next_state: PrePrepare
    actions:
      - "storeMessage"
  PrePrepare:
    quorum: 1
    next_state: prepare
    actions:
      - "storeMessage"
      - "manageTimer"
      - "broadcast"
  prepare:
    quorum: 2f
    next_state: commit
    actions:
      - "storeMessage"
      - "checkQuorum"
      - "manageTimer"
      - "broadcast"
  commit:
    quorum: 2f+1
    next_state: PBFTRequest
    actions:
      - "storeMessage"
      - "checkQuorum"
      - "manageTimer"
      - "complete"
  ViewChange:
    quorum: 2f+1
    next_state: PBFTRequest
    actions:
      - "handleViewChange"
  NewView:
    quorum: 1
    next_state: PBFTRequest
    actions:
      - "handleNewView"
