protocol: LinearPBFT
phases:
  Request:
    quorum: 1
    next_state: PrePrepare
    actions:
      - verifySignature:
          public_key: "../keys/${client_id}_public.pem"
      - "handleClientRequestAsLeader"
  PrePrepare:
    quorum: 1
    next_state: prepare
    actions:
      - "storeMessage"
      - "manageTimer"
      - "unicastifParticipant"
  prepare:
    quorum: 2f
    next_state: commit
    actions:
      - "storeMessage"
      - "checkQuorum"
      - "manageTimer"
      - "broadcastifLeader"
      - "unicastifParticipant"
  commit:
    quorum: 2f
    next_state: Request
    actions:
      - "storeMessage"
      - "checkQuorum"
      - "manageTimer"
      - "broadcastifLeader"
      - "complete"
  ViewChange:
    quorum: 2f+1
    next_state: Request
    actions:
      - "handleViewChange"
  NewView:
    quorum: 1
    next_state: Request
    actions:
      - "handleNewView"
